<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                      http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
  version="2.0">
	<persistence-unit name="one-one" transaction-type="RESOURCE_LOCAL">
	
		<properties>
		<!-- database properties -->
			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/cts"/>
			<property name="javax.persistence.jdbc.user" value="root" />
			<property name="javax.persistence.jdbc.password" value="rpsconsulting" />
			<property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
			
		  <!--hibernate properties -->
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.hbm2ddl.auto" value="update" /><!-- CREATE/UPDATE -->
		
		</properties>
	</persistence-unit>
</persistence>

<!-- <persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                      http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
  version="2.0">
	<persistence-unit name="one-one" transaction-type="RESOURCE_LOCAL">
	 
		<properties>
			<property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:XE" />
			<property name="javax.persistence.jdbc.user" value="carrertuner" />
			<property name="javax.persistence.jdbc.password" value="ct123" />
			<property name="javax.persistence.jdbc.driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="hibernate.dialect" value="org.hibernate.dialect.OracleDialect" />
				<property name="hibernate.show_sql" value="true" />
				<property name="hibernate.hbm2ddl.auto" value="update" />
				</properties>
	</persistence-unit>
	</persistence>  -->
<!-- 		<persistence-unit name="one-one" transaction-type="RESOURCE_LOCAL">
	     <class>com.pdw.entities.Employee</class>  
      <class>com.pdw.entities.Address</class>
		<properties>
			<property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/sleeping" />
			<property name="javax.persistence.jdbc.user" value="postgres" />
			<property name="javax.persistence.jdbc.password" value="rps" />
			<property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />		
		
			<property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
			<property name="hibernate.hbm2ddl.auto" value="update" />create/update
			<property name="hibernate.show_sql" value="true"/>
			
		</properties>
	</persistence-unit> -->

